<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title
      >{{ 'HOME.MS1' | translate }}{{ userName ? ', ' + userName : '' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <p>{{ 'HOME.MS2' | translate }}</p>
  </div>

  <div *ngIf="images.length === 0" class="empty">
    <p>{{ 'HOME.MS3' | translate }}</p>
  </div>

  <div *ngFor="let img of images">
    <app-card [imageUrl]="img"></app-card>
  </div>

  <app-floating-button> </app-floating-button>
</ion-content>
