<ion-card>
  <ion-card-header>
    <ion-card-title>{{ 'UPDATE.TITLE' | translate }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div>
      <form [formGroup]="UpdateForm">
        <app-toggle-translate></app-toggle-translate>
        <app-input
          [label]="'UPDATE.NAME' | translate"
          type="name"
          formControlName="name"
        ></app-input>

        <app-input
          [label]="'UPDATE.LAST_NAME' | translate"
          type="lastName"
          formControlName="lastName"
        ></app-input>

        <app-button
          [label]="'UPDATE.UPDATE_BTN' | translate"
          [type]="'submit'"
          [disabled]="!UpdateForm.valid"
          (click)="update()"
        >
        </app-button>

        <app-button
          [label]="'UPDATE.CANCEL_BTN' | translate"
          (click)="cancelUpdate()"
        >
        </app-button>
      </form>
    </div>
  </ion-card-content>
</ion-card>
