<ion-card>
  <ion-card-header>
    <ion-card-title>{{ 'LOGIN.TITLE' | translate }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div>
      <form [formGroup]="LoginForm">
        <app-input
          [label]="'LOGIN.EMAIL' | translate"
          placeholder="example@gmail.com"
          type="email"
          formControlName="email"
        ></app-input>

        <app-input
          [label]="'LOGIN.PASSWORD' | translate"
          placeholder="*******"
          type="Password"
          formControlName="password"
        ></app-input>

        <app-button
          [label]="'LOGIN.LOGIN_BTN' | translate"
          [type]="'submit'"
          [disabled]="!LoginForm.valid"
          (click)="login()"
        >
        </app-button>

        <app-link
          class="link"
          [to]="'/register'"
          [label]="'LOGIN.LINK' | translate"
        ></app-link>

        <app-toggle-translate></app-toggle-translate>
      </form>
    </div>
  </ion-card-content>
</ion-card>
