<ion-card>
  <ion-card-header>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div>
      <form [formGroup]="LoginForm">
        <app-input
          label="Email"
          placeholder="example@gmail.com"
          type="email"
          formControlName="email"
        ></app-input>

        <app-input
          label="Password"
          placeholder="*******"
          type="Password"
          formControlName="password"
        ></app-input>

        <app-button
          label="Login"
          [type]="'submit'"
          [disabled]="!LoginForm.valid"
          (click)="login()"
        >
        </app-button>

        <ion-router-link class="link" routerLink="/register">
          Don't have an account? Register
        </ion-router-link>
      </form>
    </div>
  </ion-card-content>
</ion-card>
