<ion-card>
  <ion-card-header>
    <ion-card-title>{{ 'REGISTER.TITLE' | translate }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div>
      <form [formGroup]="RegisterForm" (ngSubmit)="DoRegister()">
        <app-toggle-translate></app-toggle-translate>
        <app-input
          [label]="'REGISTER.NAME' | translate"
          placeholder="jane"
          type="name"
          formControlName="name"
        ></app-input>

        <app-input
          [label]="'REGISTER.LAST_NAME' | translate"
          placeholder="doe"
          type="lastName"
          formControlName="lastName"
        ></app-input>

        <app-input
          [label]="'REGISTER.EMAIL' | translate"
          placeholder="example@gmail.com"
          type="email"
          formControlName="email"
        ></app-input>

        <app-input
          [label]="'REGISTER.PASSWORD' | translate"
          placeholder="*******"
          type="Password"
          formControlName="password"
        ></app-input>

        <app-input
          [label]="'REGISTER.CONFIRM_PASSWORD' | translate"
          placeholder="*******"
          type="password"
          formControlName="confirmPassword"
        ></app-input>

        <app-button
          [label]="'REGISTER.REGISTER_BTN' | translate"
          [type]="'submit'"
          [disabled]="!RegisterForm.valid"
        >
        </app-button>

        <app-link
          class="link"
          [to]="'/login'"
          [label]="'REGISTER.LINK' | translate"
        ></app-link>
      </form>
    </div>
  </ion-card-content>
</ion-card>
