<ion-card>
  <ion-card-header>
    <ion-card-title>Register</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div>
      <form [formGroup]="RegisterForm" (ngSubmit)="DoRegister()">
        <app-input
          label="Name"
          placeholder="jane"
          type="name"
          formControlName="name"
        ></app-input>

        <app-input
          label="Last name"
          placeholder="doe"
          type="lastName"
          formControlName="lastName"
        ></app-input>

        <app-input
          label="Email"
          placeholder="example@gmail.com"
          type="email"
          formControlName="email"
        ></app-input>

        <app-input
          label="Password"
          placeholder="*******"
          type="Password"
          formControlName="password"
        ></app-input>

        <app-input
          label="Confirm Password"
          placeholder="*******"
          type="confirmPassword"
          formControlName="confirmPassword"
        ></app-input>

        <app-button
          label="Register"
          [type]="'submit'"
          [disabled]="!RegisterForm.valid"
        >
        </app-button>

        <ion-router-link class="link" routerLink="/login">
          Already have an account? Login
        </ion-router-link>
      </form>
    </div>
  </ion-card-content>
</ion-card>
